@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,700&family=Noto+Serif+SC:wght@300;700&display=swap');

body {
    background-color: gainsboro;
}

/* 超链接样式 */
a:link {
    color: black;
}
a:hover {
    color: rgb(150, 150, 150);
    text-decoration: none;
}
a:visited {
    color: rgb(100, 100, 100)
}
/* 超链接样式 */

/* h1样式 */
h1 {
    color: black;
}
.engh1 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 700;
    font-style: italic;
}
.chnh1 {
    font-family: 'Noto Serif SC', serif;
    font-weight: 700;
}
/* h1样式 */

/* 段落样式 */
p {
    color: black;
    font-family: 'Noto Serif SC', serif;
    font-weight: 300;
    font-size: 150%;
}
/* 段落样式 */